services:
  speech2text:
    build:
      context: .
      args:
        CUDA_TAG: ${CUDA_TAG}
        CUDA_VERSION: ${CUDA_VERSION}
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,graphics
      - PYTHONUNBUFFERED=1
      - PORT=${PORT}
    ports:
      - "${PORT}:${PORT}"
